{% extends "base.html" %}

{% block title %}
Delete Project Task
{% endblock title %}

{% block stylesheets %}
{{block.super}}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>Delete This Task ?</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="x_panel">
        <div class="x_content">
            <p>Are you sure to This Task ?</p>
            <p>Project : {{ projecttask.project.Title }}</p>
            <p>Task : {{ projecttask.Description }}</p>
            <p>Priority : {{ projecttask.Priority }}</p>
            <p>PIC : {{projecttask.PIC}}</p>
            <p>Start : {{ projecttask.Start_Date }}</p>
            <p>Finish : {{ projecttask.End_Date }}</p>
            <form method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Delete">
                <a href="{% url 'Core:task_index' %}" class="btn btn-default">Cancel</a>
            </form>

        </div>
    </div>

</div>
{% endblock content %}


{% block javascripts %}
{{block.super}}
<script src="/static/vendors/raphael/raphael.min.js"></script>
<script src="/static/vendors/morris.js/morris.min.js"></script>
{% endblock javascripts %}