{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
{% if not form.instance.pk %}
Create New Task
{% else %}
Update Task
{% endif %}
{% endblock title %}

{% block stylesheets %}
{{block.super}}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>Task Administration</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="x_panel">
        <div class="x_content">
            <form method="post">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if field.id_for_label == 'id_Start_Date' %}
                    {% render_field field class='form-control' id='single_cal1' %}
                    {% elif field.id_for_label == 'id_TargetFinish_Date' %}
                    {% render_field field class='form-control' id='single_cal2' %}
                    {% else %}
                    {{ field|add_class:'form-control' }}
                    {% endif %}
                    {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>

                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Submit">
                <a href="{% url 'Core:task_index' %}" class="btn btn-default">Cancel</a>
            </form>

        </div>
    </div>

</div>
{% endblock content %}


{% block javascripts %}
{{block.super}}
<script src="/static/vendors/raphael/raphael.min.js"></script>
<script src="/static/vendors/morris.js/morris.min.js"></script>
{% endblock javascripts %}