{% extends "base.html" %}
{% load dict_filter %}

{% block title %} Home {% endblock title %}

{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Activity Workbench</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        {% for p in Projects %}
        <div class="x_panel">
          <div class="x_title">
            <h2>Projects - {{ p.Title }}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <p>{{ p.Description }}</p>

            <!-- start project list -->
            
            <table class="table table-striped projects">            
              <thead>
                <tr>
                  <th style="width: 1%">#</th>
                  <th style="width: 20%">Task</th>
                  <th>Priority</th>
                  <th>PIC</th>
                  <th>Project Progress</th>
                  <th>Status</th>
                  <th style="width: 20%">#Edit</th>
                </tr>
              </thead>
              <tbody>                
                {% comment %} {% for k, v in Tasks.items %}                               {% endcomment %}
                {% comment %} {% for t in v %} {% endcomment %}
                {% for t in Tasks|lookup:p.ID_Project %}
                                
                <tr>
                  <td>#</td>
                  <td>
                    <a>{{ t.Title }}</a>
                    <br />
                    <small>Created On {{ t.Created_On|date:"d M Y" }}</small>
                  </td>
                  {% if t.Priority == 'H' %}
                    <td><span class="label label-danger">High</span></td>
                  {% elif t.Priority == 'M' %}                  
                    <td><span class="label label-warning">Medium</span></td>
                  {% else %}
                    <td><span class="label label-info">Low</span></td>
                  {% endif %}                  
                  <td>
                    <ul class="list-inline">
                      {% for pic in t.PIC|splitby:','  %}                                            
                      <li>
                        <span class="btn btn-primary btn-xs">{{ pic }}</span>                        
                      </li>
                      {% endfor %}
                      {% comment %} <li>
                        <img src="/static/images/user.png" class="avatar" alt="Avatar">
                      </li>
                      <li>
                        <img src="/static/images/user.png" class="avatar" alt="Avatar">
                      </li>
                      <li>
                        <img src="/static/images/user.png" class="avatar" alt="Avatar">
                      </li> {% endcomment %}
                      
                    </ul>
                  </td>
                  <td class="project_progress">
                    <div class="progress progress_sm">
                      <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{ t.PctComplete }}">
                      </div>
                    </div>
                    <small>{{ t.PctComplete|floatformat:0 }}% Complete</small>
                  </td>
                  <td>
                  {% if t.Status == 'OG' %}
                    <button type="button" class="btn btn-success btn-xs">On-Going</button>
                  {% elif t.Status == 'PD' %}                  
                    <button type="button" class="btn btn-success btn-xs">Pending</button>
                  {% else %}
                    <button type="button" class="btn btn-success btn-xs">Done</button>
                  {% endif %}                     
                  </td>
                  <td>
                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                    <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                    <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                  </td>
                </tr>
                
                {% comment %} {% endfor %}   {% endcomment %}
                {% endfor %}
              </tbody>
            </table>
            <!-- end project list -->
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endblock content %}

  {% block javascripts %}
  {{ block.super }}
  <!-- morris.js -->
  <script src="/static/vendors/raphael/raphael.min.js"></script>
  <script src="/static/vendors/morris.js/morris.min.js"></script>
  {% endblock javascripts %}