<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="{% url 'home' %}" class="site_title"><i class="fa fa-spinner"></i> <span>ActOS | CKS</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    {% comment %} <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div> {% endcomment %}
    <div class="profile_info">
      <span>
        <h2>Activity Online Sheet</h2>
      </span>
      <h4>
        {{fname}}
        {{lname}}
      </h4>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>Log Your Activity Now</h3>
      <ul class="nav side-menu">
        <li><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home </a>
        </li>
        <li><a><i class="fa fa-edit"></i> Activity Log <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/ActOS/InputAct">Input Activity</a></li>
            <li><a href="{% url 'Core:activity_index' %}">View Activity</a></li>
            <li><a href="/ActOS/approve_activity.html">Approve Activity Sheet</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-desktop"></i> Projects <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'Core:project_index' %}">Project Administration</a></li>
            <li><a href="{% url 'Core:task_index' %}">Task Administration</a></li>
            <li><a href="{% url 'Core:assignment_index' %}">Personnel Assignment</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-bar-chart-o"></i> Monitoring Dashboard <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/ActOS/tables.html">Monitor Project Progress</a></li>
            <li><a href="/ActOS/tables_dynamic.html">Monitor Project Allowance</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->

  <!-- /menu footer buttons -->
</div>